table{
    margin: auto;
}
.col{
    font-size: 30px;
}
h1{
    background-color: lightgrey;
    font-size: 50px;
    padding-left: 50px;
}
div{
    margin: auto;
    text-align: left;
}
h6{
    font-size: 15px;
}
